<html>
  <head>
    <script src="https://unpkg.com/@mongodb-js/charts-embed-dom@beta"></script>
  </head>
  <body>
    <div id="chart"></div>
    <iframe
      style="
        background: #ffffff;
        border: none;
        border-radius: 2px;
        box-shadow: 0 2px 10px 0 rgba(70, 76, 79, 0.2);
      "
      width="640"
      height="480"
      src="https://charts.mongodb.com/charts-react-msdcl/embed/dashboards?id=1db81258-8074-4d4e-8f78-cddbe8255455&theme=light&autoRefresh=true&maxDataAge=10&showTitleAndDesc=false"></iframe>
  </body>
</html>
